<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 1. diceBean - IoC -->
    <bean name="diceBean" class="random.model.DiceService"/>

    <!-- 2. fairCoinBean - DI constructor injection 0.5 -->
    <bean id="fairCoinBean" class="random.model.CoinService">
        <constructor-arg value="0.5"/>
    </bean>

    <!-- 3. biasCoinBean - DI setter injection 0.1-->
    <bean id="biasCoinBean" class="random.model.CoinService" scope="prototype">
        <property name="chance" value="0.1"/>
    </bean>

    <!-- 4. propertyCoinBean - DI setter injection read from property file -->
    <context:property-placeholder location="application.properties"/>
    <bean id="propertyCoinBean" class="random.model.CoinService">
        <property name="chance" value="${coin.headChance}"/>
    </bean>

</beans>
