# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\TANINCHOTPHUWALOERTT\Downloads\random_exportAsArchive_importAsExistingProject\springassignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
